# Ignore main environment variables file.
/.env

# Ignore JetBrains IDE files.
.idea/

# Ignore DS_Store file
/.DS_Store

# Ignore test coverage files.
.coverage
htmlcov/
.pytest_cache/

# Ignore linter files
.ruff_cache/