[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
# database
sqlalchemy = "*"
alembic = "*"
psycopg2 = "*"
# background jobs
celery = { extras = ["redis"], version = "*" }
flower = "*"
redis = "*"
# AI
openai = "*"
anthropic = "*"
google-genai = "*"
# http client
httpx = "*"
# unit testing
pytest = "*"
pytest-mock = "*"

[dev-packages]
# unit testing
pytest-cov = "*"
# linting and formatting
ruff = "*"
black = "*"